* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #eee;
}
.input-box {
  width: 400px;
  height: 50px;
  position: relative;
  margin: 30px auto;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: large;
}
.prefix {
  width: 13%;
  height: 100%;
  position: absolute;
  background-color: #009688;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px 0 0 4px;
}
input {
  all: unset;
  width: 87%;
  height: 100%;
  box-sizing: inherit;
  padding-left: 10px;
  background-color: #fff;
  position: absolute;
  right: 0;
  border-radius: 0 4px 4px 0;
  caret-color: #009688;
}