* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Assignment 1 */
.container {
    height: 300px;
    width: 100%;
}

.First {
    background-color: #f2f2f4;
    width: 300px;
    height: 150px;
    padding: 20px;
    position: absolute;
    left: 50%;
    margin: 50px -160px ;
    text-align: center;
    transition: 0.5s;
}

.First::after {
    content: "Will Go Up On Hover in Half Second";
}

.First::before {
    content: "Will Go Down After Half Second";
    background-color: #dededc;
    position: absolute;
    top: 65px;
    padding: 15px 34px;
    margin: -5%;
    transition-duration: 1s;
    transition-delay: 0.5s;
}

.First:hover {
    margin-top: 20px;
}

.First:hover::before {
    top: 100px;
}

/* Assignment 2 */

.second {
    background-color: #eee !important;
    border: none !important;
    width: 400px;
    margin: auto;
    padding: 30px !important;
    font-size: 0px !important;
    text-align: center;
    font-weight: bold;
}

.second::after {
    content: "Elzero";
    margin:-10px -30px;
    color: black;
    position: absolute;
    font-size: 20px;
}

/* Assignment 3 */

:root {
    --mainColor: #009688;
    --mainPadding: 10px;
}

.third div {
    width: calc(40 * var(--mainPadding , 10px));
    margin: var(--mainPadding , 10px) auto;
    padding: var(--mainPadding , 10px);
    border: calc(var(--mainPadding , 10px) / 5) solid var(--mainColor , black);
    color: var(--mainColor , red);
}