* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --lines-width: 5px;
}
.elzero-lines {
  font-weight: bold;
  padding: 20px;
  border: var(--lines-width,5px) solid red;
  margin: 30px;
  text-align: center;
  outline: var(--lines-width,5px) solid blue;
  position: relative;
}
.elzero-lines::after {
  content: '';
  width: calc(100% + (4 * var(--lines-width,5px)) - 2px);
  height: calc(100% + (4 * var(--lines-width,5px)) - 2px);
  position: absolute;
  top: calc(-1 *(3 * var(--lines-width,5px)) + 1px);
  left: calc(-1 *(3 * var(--lines-width,5px)) + 1px);
  border: var(--lines-width,5px) solid green;
  outline: var(--lines-width,5px) solid black;
}

